@import "_variables";

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: $darker_gray;
}

body::-webkit-scrollbar-thumb {
  background-color: #5c6066;
  border-radius: 20px;
  border: 3px solid $darker_gray;
}
