@import "_scrollbar";
@import "_variables";

body {
  color: white;
}

.navbar-nav {
  max-height: 50vh;
}

.darker {
  background: $darker_gray;
}

.yt-video {
  min-width: $minytw;
  min-height: $minyth;
  width: 50vw !important;
  height: 30vw !important;
}
